/* body {
  background-color: rgb(148, 148, 148);
  min-height: 100vh;
} */

.flex-signup-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: rgb(148, 148, 148);
  align-items: center;
  min-height: 100vh;
}
.row-flex {
  /* margin-top: 50px; */
  background-color: rgb(248, 248, 248);
  width: 600px;
  height: 490px;
  border-radius: 10px;
}
.top-head {
  background-color: rgb(82, 82, 82);
  padding: 8px;
  color: white;
}
.input-sign-up {
  /* padding: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.input-sign-up input {
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 0px 5px 5px 0px;
  width: 300px;
  font-size: 15px;
  letter-spacing: 1px;
}
.input-sign-up input:focus {
  outline: none !important;
}
.input-sign-up span {
  border: 1px solid #848484;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  background-color: #848484;
  color: white;
  width: 30px;
}
.signup-button {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.signup-button span {
  /* justify-content: end; */
  text-align: end;
  flex: 35%;
}
.signup-button .btn-signup {
  flex: 45%;
  justify-content: start;
}
.signup-button button {
  background-color: white;
  border: 1px solid #33a533;
  color: #33a533;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 12px;
  width: 120px;
}
.signup-button button:hover {
  background-color: #33a533;
  border: 1px solid #33a533;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 604px) {
  .row-flex {
    margin-top: 50px;
    background-color: rgb(248, 248, 248);
    width: 90%;
    border-radius: 10px;
  }
}

@media (max-width: 505px) {
  .input-sign-up input {
    border: 1px solid lightgray;
    padding: 12px;
    border-radius: 0px 5px 5px 0px;
    width: 70%;
    font-size: 15px;
  }
  .input-sign-up span {
    border: 1px solid #848484;
    padding: 10px;
  }
}
@media (max-width: 385px) {
  .top-head {
    background-color: rgb(82, 82, 82);
    padding: 1px;
    color: white;
  }
  .input-sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-sign-up input {
    padding: 8px;
    border-radius: 0px 5px 5px 0px;
    font-size: 15px;
  }
  .input-sign-up span {
    padding: 6px;
    border-radius: 5px 0px 0px 5px;
    background-color: #848484;
    color: white;
  }
}

.flex-signin-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(148, 148, 148);
}
.row-flex-signin {
  /* margin-top: 50px; */
  background-color: rgb(248, 248, 248);
  width: 600px;
  height: 440px;
  border-radius: 10px;
}
.top-head-signin {
  background-color: rgb(82, 82, 82);
  padding: 8px;
  color: white;
}
.input-sign-in {
  /* padding: 25px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.input-sign-in input {
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 0px 5px 5px 0px;
  width: 300px;
  font-size: 15px;
  letter-spacing: 1px;
}
.input-sign-in input:focus {
  outline: none !important;
}
.input-sign-in span {
  border: 1px solid #848484;
  padding: 10px;
  border-radius: 5px 0px 0px 5px;
  background-color: #848484;
  color: white;
  width: 30px;
}
.sign-in-button {
  /* padding: 30px; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 45px;
}
.sign-in-button span {
  /* justify-content: end; */
  text-align: end;
  flex: 40%;
}
.sign-in-button .btn-login {
  flex: 50%;
  justify-content: start;
}
.sign-in-button button {
  /* max-width: 180%; */
  width: 120px;
  padding: 12px;
  background-color: white;
  border: 1px solid #33a533;
  color: #33a533;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 2px;
}
.sign-in-button button:hover {
  background-color: #33a533;
  color: white;
  /* border: 1px solid #73d373; */
  cursor: pointer;
}

@media (max-width: 604px) {
  .row-flex-signin {
    margin-top: 50px;
    background-color: rgb(248, 248, 248);
    width: 90%;
    border-radius: 10px;
  }
}

@media (max-width: 505px) {
  .input-sign-in input {
    border: 1px solid lightgray;
    padding: 12px;
    border-radius: 0px 5px 5px 0px;
    width: 70%;
    font-size: 15px;
  }
  .input-sign-in span {
    border: 1px solid #848484;
    padding: 10px;
  }
}
@media (max-width: 385px) {
  .top-head-signin {
    background-color: rgb(82, 82, 82);
    padding: 1px;
    color: white;
  }
  .input-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input-sign-in input {
    padding: 8px;
    border-radius: 0px 5px 5px 0px;
    font-size: 15px;
  }
  .input-sign-in span {
    padding: 6px;
    border-radius: 5px 0px 0px 5px;
    background-color: #848484;
    color: white;
  }
}

.overlay {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #222;
}

.overlay__inner {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay__content {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.05);
  border-top-color: #fff;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
